.env
.env.backup
.env.production
.git
.github
.idea
.vscode
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
database/*.sqlite
*.log
Dockerfile
docker-compose.yml
docker-up.sh
.dockerignore
reglas.md
ultimosCambios.md